<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>CFBundleDocumentTypes</key><array>
    <dict>
      <key>CFBundleTypeName</key><string>Markdown</string>
      <key>NSDocumentClass</key><string>ClassicHistoryDocument</string>
      <key>CFBundleTypeRole</key><string>Editor</string>
      <key>CFBundleTypeIconFile</key><string>markdown-document-icon.icns</string>
      <key>CFBundleTypeExtensions</key><array><string>md</string><string>markdown</string><string>mmd</string><string>multimarkdown</string><string>mdown</string><string>mkdn</string><string>mkd</string><string>mdwn</string><string>mdtxt</string><string>mdtext</string><string>mdml</string></array>
      <key>LSItemContentTypes</key><array><string>com.sidwood.writer-classic.markdown</string><string>net.daringfireball.markdown</string></array>
    </dict>
    <dict>
      <key>CFBundleTypeName</key><string>Plain Text</string>
      <key>NSDocumentClass</key><string>ClassicHistoryDocument</string>
      <key>CFBundleTypeRole</key><string>Editor</string>
      <key>LSHandlerRank</key><string>Alternate</string>
      <key>CFBundleTypeExtensions</key><array><string>txt</string><string>text</string></array>
      <key>LSItemContentTypes</key><array><string>public.plain-text</string><string>public.source-code</string><string>public.html</string><string>public.xml</string></array>
    </dict>
    <dict>
      <key>CFBundleTypeName</key><string>Microsoft Word</string>
      <key>CFBundleTypeRole</key><string>Editor</string>
      <key>LSHandlerRank</key><string>Alternate</string>
      <key>CFBundleTypeExtensions</key><array><string>docx</string></array>
      <key>LSItemContentTypes</key><array><string>org.openxmlformats.wordprocessingml.document</string></array>
    </dict>
  </array>
  <key>UTExportedTypeDeclarations</key><array><dict>
    <key>UTTypeIdentifier</key><string>com.sidwood.writer-classic.markdown</string>
    <key>UTTypeDescription</key><string>Markdown</string>
    <key>UTTypeIconFile</key><string>markdown-document-icon</string>
    <key>UTTypeConformsTo</key><array><string>net.daringfireball.markdown</string><string>public.plain-text</string></array>
    <key>UTTypeTagSpecification</key><dict><key>public.filename-extension</key><array><string>md</string><string>markdown</string><string>mmd</string><string>multimarkdown</string><string>mdown</string><string>mkdn</string><string>mkd</string><string>mdwn</string><string>mdtxt</string><string>mdtext</string><string>mdml</string></array></dict>
  </dict></array>
  <key>UTImportedTypeDeclarations</key><array><dict>
    <key>UTTypeIdentifier</key><string>net.daringfireball.markdown</string>
    <key>UTTypeDescription</key><string>Markdown</string>
    <key>UTTypeIconFile</key><string>markdown-document-icon</string>
    <key>UTTypeConformsTo</key><array><string>public.plain-text</string></array>
    <key>UTTypeTagSpecification</key><dict><key>public.filename-extension</key><array><string>md</string><string>markdown</string><string>mmd</string><string>multimarkdown</string><string>mdown</string><string>mkdn</string><string>mkd</string><string>mdwn</string><string>mdtxt</string><string>mdtext</string><string>mdml</string></array></dict>
  </dict></array>
  <key>NSAppleScriptEnabled</key><true/>
  <key>OSAScriptingDefinition</key><string>WriterClassic.sdef</string>
  <key>CFBundleHelpBookFolder</key><string>WriterClassicHelp</string>
  <key>CFBundleHelpBookName</key><string>com.sidwood.writer-classic.help</string>
  <key>NSUbiquitousContainers</key><dict><key>iCloud.com.sidwood.writer-classic</key><dict>
    <key>NSUbiquitousContainerName</key><string>Writer Classic</string>
    <key>NSUbiquitousContainerIsDocumentScopePublic</key><true/>
    <key>NSUbiquitousContainerSupportedFolderLevels</key><string>Any</string>
  </dict></dict>
</dict></plist>
